{% extends 'base.html' %}

{% block title %} 
    Форма заполнена - {{ site.name  }}
{% endblock %}

{% block breadcrumbs %} 
{% endblock %}

{% block content %}
<div style="margin-top: 200px; margin-bottom: 100px; ">
    <h2 class="reviews-title" style="text-align: center;">Ваша заявка принята!</h2>
    <p class="reviews-text" style="text-align: center;">
        {{ session.name  }}, спасибо, Ваша заявка принята.</br>
        Мы перезвоним Вам по номеру телефона {{ session.phone  }}<br>
        в ближайшее рабочее время! </p>

</div>
{% endblock %}
